.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}

.body{
    font-family: 'League Spartan', sans-serif;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position:left top, right bottom;
    background-repeat: no-repeat;
    height: 100vh;
    
}

@media screen and (max-width: 576px) {
    .body {
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-size: contain;
    }
  }

.body h1 {
    font-weight: 700;
}



.box{
    width: 40px;
    height: 40px;
    font-size: 15px;
    
}

/* color-variables  */
:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
/* ***  */

/* give background colors classes  */
.giveLightGrayishMagenta{background-color: var(--Light-Grayish-Magenta); }
.giveVeryDarkMagentaBackground{background-color: var(--Very-Dark-Magenta) !important; }
/* ***  */

/* give  color classes  */
.giveVeriDarkMagnetaColor{color: var(--Very-Dark-Magenta);}
.giveDarkGrayColor{color: var(--Dark-Grayish-Magenta);}
.giveWhiteColor{color: var(--White);}
.SoftPinkColor{color: var(--Soft-Pink); filter: brightness(85%);}
/* ***  */

/* give width to card images  */
.cardImgDimensions{
    width: 50px;
    height: 50px;
}
/* ***  */




